body {
font-family: ms gothic, arial;
margin-top: 1em;
}

.wrapper {
display: block;
text-align: center;
width: max-content;
margin: auto;
padding: 0.5em;
border: 1px dashed black;
overflow-y: auto;
}

h1 {
margin: auto;
}

.btn, input {
font-family: ms gothic, arial;
margin: 0.25em;
}

table, th, td {
border:1px solid black;
border-collapse: collapse;
padding: 5px;
}


@media only screen and (max-width: 700px) {
  .wrapper {
	min-width: 60%;
	max-width: 93%;
  }
}
