
<!DOCTYPE html> 
<html> 
    <head> 
	<link rel="stylesheet" href="../static/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Journal</title> 
    </head> 
    <body> 
	<div class="wrapper">
        	<h1>Journal</h1> 
        	<button class="btn" type="button" onclick="window.location.href='{{ url_for('join') }}';">Fill form to get updates</button><br/> 
		<button class="btn" type="button" onclick="window.location.href='{{ url_for('food') }}';">Fill food form</button><br/> 
        	<button class="btn" type="button" onclick="window.location.href='{{ url_for('participants') }}';">Check participant list</button> 
	</div>
    </body> 
</html> 
