

<!DOCTYPE html> 
<html> 
    <head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="../static/style.css"> 
        <title>Journal</title> 
    </head> 
    <body> 
<div class="wrapper">
        <form method="POST"> 
            <label>date:</label> 
            <input type="name" name="date" placeholder="dd/mm/yyyy" required><br/> 
            <label>mood:</label> 
            <input type="name" name="mood" placeholder="today's mood" required><br/> 
            <label>headache:</label> 
            <input type="name" name="headache" placeholder="headache level (0~3)" required><br/> 
            <label>period:</label> 
            <input type="name" name="period" placeholder="period level (0~3)" required><br/> 
            <label>other:</label> 
            <input type="name" name="other" placeholder="enter comments" required><br/> 
            <input type = "submit" value = "submit"/><br/> 
        </form> 
</div>
    </body> 
</html>
